.app-header {
    display: none;
    background-color: #fff;
}


@media (max-width: 390px) {
    .app-header {
        display: block;
    }
}

.app-header-main {
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    width: 100%;
}

.app-header-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.app-header-container {
    align-items: center;
    display: flex!important;
    height: 52px;
    justify-content: space-between;
}

.app-header-row-setting {
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
}

.app-header-logo>a {
    display: flex;
    background-color: transparent
}

.app-header-bar {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.app-header-bar-list {
    align-items: center;
    display: flex!important;
    margin-left: 53px!important;
    list-style: none;
}
.app-header-bar-list-btn {
    margin-right: 8px;
}

.list-btn-search {
    height: 28px;
    padding: 2px;
    width: 28px;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex!important;
    justify-content: center;
    text-transform: none;
}

.app-sub-header {
    background-color: #fff;
    left: 0;
    position: fixed;
    top: 52px;
    transition: top .1s linear,opacity .1s ease-in;
    width: 100vw;
    z-index: 80;
}

.app-sub-header-set {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.app-sub-header-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.app-sub-header-col {
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;
    margin-left: -16px;
}

.app-sub-header-container {
    border-bottom-color: #f3f4f5;
    border-bottom: 1px solid #f3f4f5;
    padding: 0 12px;
    overflow: visible;
}

.app-sub-header-wrapper {
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-property: transform;
    width: 100%;
    z-index: 1;
}

.app-sub-header-items:not(:last-child) {
    margin-right: 12px;
    width: auto;
}

.app-sub-header-home {
    align-items: center;
    display: flex;
    position: relative;
}

.app-sub-header-home-btn {
    height: 43px!important;
    background: none!important;
    border: 0;
    color: #adb3b8;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    min-width: auto;
    outline: 0;
    padding: 4px;
    width: fit-content;
    align-items: center;
    display: flex!important;
    justify-content: center;
    overflow: hidden;
    position: relative;
}